

#hidden
{
	display:none;	
}

#logo
{
        
}

#branding h1
{
    margin:0;
    padding:10px 0 0;
}

#branding
{
    position:relative;
    /*height:220px;*/
    margin-bottom:15px;
}

#main-content
{
    margin:0 52px;
}

#divbutton
{
    padding:0 40%;    
}

.news_body {
   display : block;
   padding : 5px 10px;
   margin: 12px 0;
   background: #fff; /*f0f0f0*/
   border : 1px solid #d0d0d0;
   font-size:96%;/*96%*/
   line-height:1.7em;
}

/*暂时先这样*/
.title a:link { color: #1F5790; text-decoration:none; }
.title a:visited { color: #4B4B4A; text-decoration:none; }
.title a:hover { color: #ab0000; text-decoration:none;}
.title a:focus, a:active { color: #c50000; background-color: #ddd; text-decoration:none;}

#source {
  /*text-align: right;*/
  font-size: 90%; 
  }
  
#source a
 { 
     color: #7F8486; text-decoration:none; 
 }

#nav
{
    clear:both;  
    height:26px;
	background: #0F0F0F url(/Images/footer-gradient.gif) repeat-x;
    text-align:center;
    color: #F5CB66;
    padding-top:7px;
    border-top:1px solid #4B4B4A;
}

#main-content2
{
    margin:20px 60px 40px;  
}

#LoggedOut
{
		border:solid 1px #4B4B4A;
		background:#fff;	
		margin:0 auto;
		width:400px;
		padding:14px;	
}

#Other
{
     margin:40px 300px 60px; 
}

#Other fieldset
{
     text-align:center;
     font-size:100%;
     padding:25px 0;
     /*width:485px;*/
     /*height:85px;*/
}

#Other p
{
     font-size:120%;
     margin-bottom: 10px;
}

.OtherButton 
{
    	 clear:both;
		 /*margin:0;
		 padding:0;
		 width:7em;*/	
		 height:25px;
		 /*background:#666666;
		 text-align:center;
		 color:#ffffff;
		 font-weight:bold;
		 font-size:100%;*/
 }

.subTitile
{
    padding-bottom:5px;
    margin-top:30px;
    margin-bottom:15px;
    font-size:large;
    width:40%;
    border-bottom:1px solid #7F8486;
}

.subTitileWithOutLine
{
    padding-bottom:5px;
    margin-top:15px;
    margin-bottom:15px;
    font-size:large;
    width:400px;   
}

.moduleParent
{
    width:1000px;
    margin:25px auto;
}

.module
{
    margin-top:10px;
    margin-left:35px;
    margin-right:35px;
    margin-bottom:10px;
    float:left;
    display:block;
    width:400px;    
    height:250px;
}

.module_title
{
    padding-bottom:5px;
    margin-top:15px;
    margin-bottom:15px;
    font-size:large;
    border-bottom:1px solid #7F8486;
}

.module_content
{
    color: #1F5790; 
}

.more
{
    /*margin-top:180px;*/
    margin-left:340px;
    font-size:small;
}

ol
{
		 list-style:none;
		 margin:0;
		 padding:0;
}
    
li
{
        margin: .2em,0;
        float:left;
        width:100%;	
}
